nav {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background: var(--white);
  padding: 10px;
  transition: all 0.3s linear 0s;
  display: flex;
}

.logo-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 24px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
  font-size: 26px;
}

nav a:active,
nav a:hover {
  text-decoration: underline;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #bbf330;
}

.nav-menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2c2c2c;
}

.logo-name {
  display: flex;
  align-items: center;
}

.nav-backet:hover svg path {
  fill: #bbf330;
  stroke: #bbf330;
}
.nav-backet {
  fill: #121211;
  stroke: #0e0e0e;
}
